<%= form_for(idea) do |f| %>
  <% if idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :タイトル %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :詳細 %>
    <%= f.text_area :details %>
  </div>

<!--  <div class="field">
    <%= f.label :投稿者 %>
    <%= f.text_field :created_nm %>
  </div>

  <div class="field">
    <%= f.label :更新者 %>
    <%= f.text_field :updated_nm %>
  </div>
-->
  <div class="actions">
    <%= f.submit :新規作成 %>
  </div>
<% end %>
