<h1>伝言メモ</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>投稿者</th>
      <th>投稿日付</th>
      <th>更新者</th>
      <th>更新日付</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.title %></td>
        <td><%= idea.details %></td>
        <td><%= idea.created_nm %></td>
        <td><%= idea.created_at %></td>
        <td><%= idea.updated_nm %></td>
        <td><%= idea.updated_at %></td>
        <td><%= link_to '詳細', idea %></td>
        <td><%= link_to '編集', edit_idea_path(idea) %></td>
        <td><%= link_to '削除', idea, method: :delete, data: { confirm: '削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規', new_idea_path %>
