<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @idea.title %>
</p>

<p>
  <strong>詳細:</strong>
  <%= @idea.details %>
</p>

<p>
  <strong>投稿者:</strong>
  <%= @idea.created_nm %>
</p>

<p>
  <strong>更新者:</strong>
  <%= @idea.updated_nm %>
</p>

<%= link_to '編集', edit_idea_path(@idea) %> |
<%= link_to '戻る', ideas_path %>
