<h1>ユーザー一覧</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>

<table>
  <thead>
    <tr>
      <th>ユーザーID</th>
      <th>名前</th>
      <th>パスワード</th>
      <th>権限</th>
      <th>更新日</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_id %></td>
        <td><%= user.name %></td>
        <td><%= user.password %></td>
        <td></td>
        <td><%= user.updated_at %></td>
        <td><%= link_to '詳細', user %></td>
        <td><%#= link_to '編集', edit_user_path(user) %></td>
        <td><%= link_to '削除', user, method: :delete, data: { confirm: '削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
